p {
  color: red; 
  font-weight:bold;
}

h1 {
    color: blue;
    font-weight:bold;
}

ul {
    font-weight:bold;
}
div {
    color:Green;
    font-weight:bold;
}
button {
    
    font-weight:bold;
}
